// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Caveat|Montserrat);

// Font Variables
$caveat: 'Caveat', cursive;
$montserrat: 'Montserrat', sans-serif;
$body-color: #2D3F3F;

// Styles

body {
    font-family: $montserrat;
    color: $body-color;
}